<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.css">
    <title>Menu Data Karyawan</title>
</head>
<body>
    <div class="main-box-container">
      <h1>MENU DATA KARYAWAN</h1>
      <a href="/menu_cariuser" class="btn btn-secondary cari"><span class="fa fa-search"></span> Search Karyawan</a>
        <a href="/menu_tambahuser" class="btn btn-success tambah"><span class="fa fa-plus-square"></span> Add Karyawan</a>
    </div>
</body>
</html>