@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 15px;
  background-color: #F0F0F0;
}

.main-box-container {
  width: 25%;
  height: 250px;
  margin: 0 auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  border: 1px solid #ddd6d6;
  -webkit-box-shadow: 9px 9px #E7E7E7;
          box-shadow: 9px 9px #E7E7E7;
  padding: 5px;
  background-color: white;
  text-align: center;
}

.main-box-container h1 {
  font-size: 27px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #999999;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-box-container .cari, .main-box-container .tambah {
  display: block;
  width: 75%;
  padding: 15px;
  font-size: 22px;
  margin: 0 auto;
}

.main-box-container .tambah {
  margin-top: 5px;
}

.hilang {
  display: none;
}

.muncul {
  display: block;
}

.search-box-container {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  border: 1px solid #999999;
  -webkit-box-shadow: 9px 9px #E7E7E7;
          box-shadow: 9px 9px #E7E7E7;
  padding: 5px;
  background-color: white;
}

.search-box-container .search-box-header {
  width: 100%;
  height: 75px;
  margin-bottom: 5px;
  border: 1px solid #999999;
  display: block;
}

.search-box-container .search-box-header h1 {
  font-size: 24px;
  padding: 10px;
}

.search-box-container .search-box-main {
  height: 350px;
  width: 100%;
  padding: 20px;
  margin-top: 1px;
  background-color: #fafafa;
  border: 1px solid #999999;
}

.search-box-container .search-box-main .form-group .nama {
  width: 100%;
}

.search-box-container .search-box-main .form-group {
  margin-bottom: 20px;
}

.search-box-container .search-box-main a.kembali {
  color: white;
}

.search-box-container .search-box-main label {
  font-size: 25px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.search-box-container .search-box-main .text-desc {
  margin-top: 30px;
}

.info-container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd6d6;
  -webkit-box-shadow: 9px 9px #E7E7E7;
          box-shadow: 9px 9px #E7E7E7;
  padding: 10px;
  background-color: white;
  margin-top: 10px;
}

.info-container .header {
  height: 30%;
  background-color: white;
}

.info-container .header h1 {
  float: left;
  font-size: 24px;
  padding: 10px;
}

.info-container .header a {
  float: right;
  text-decoration: none;
  padding: 10px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 20px;
  border-radius: 25px 25px;
}

.info-container .table-wrapper {
  height: 40%;
  margin-top: 10px;
}

.info-container .table-wrapper .btn.edit {
  color: white;
}

.menu-wrapper {
  background-color: #fff;
  width: 50%;
  padding-left: 40px;
  height: 700px;
  margin: 0 auto;
  -webkit-box-shadow: 9px 9px #E7E7E7;
          box-shadow: 9px 9px #E7E7E7;
}

.menu-wrapper .menu-header {
  height: 100px;
}

.menu-wrapper .menu-header h1 {
  text-align: center;
  padding-top: 20px;
  margin-left: 15px;
  font-size: 36px;
  letter-spacing: 1.5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu-wrapper .menu-header a {
  float: right;
}

.menu-wrapper .alert {
  width: 370px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 10px;
}

.menu-wrapper .menu-content {
  height: 500px;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #999999;
  padding: 30px;
  background-color: #E9F7FA;
}

.menu-wrapper .menu-content input {
  padding: 5px;
  width: 250px;
}

.menu-wrapper .menu-content h1 {
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
}

.menu-wrapper .menu-content label {
  font-weight: bold;
}

.menu-wrapper .menu-content .form-group {
  padding: 10px;
  padding-left: 20px;
}

.menu-wrapper .menu-content .btn.tambah {
  margin-top: 30px;
  margin-left: 145px;
  display: inline-block;
  width: 115px;
}

.menu-wrapper .menu-content .btn.kembali {
  color: white;
  display: inline-block;
  padding: 7px;
  position: relative;
  top: -38px;
  left: 20px;
  width: 100px;
}

.edit-container {
  background-color: white;
  -webkit-box-shadow: 9px 9px #E7E7E7;
          box-shadow: 9px 9px #E7E7E7;
  padding: 20px;
}

.edit-container .edit-header h1 {
  font-size: 28px;
  padding-bottom: 10px;
}

.edit-container .btn.kembali {
  color: white;
}

.table-edit-wrapper .btn.update {
  float: right;
}
/*# sourceMappingURL=style.css.map */